.contact-wrapper {
    /* padding: 170px 0; */
    height: 50vh;
    width: 100%;
    /* background-color:#d7e5e5; */
    /* background: linear-gradient(to right, #D7E5E5, #dfdede); */
    display: flex;
    align-items: center;
    padding: 170px 10%;
    background-image: url(../../../public/images/menu-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

}

.contact-wrapper::after {
    position: absolute;
    height: 50vh;
    width: 100%;
    content: "";
    left: 0;
    top: 0;
    opacity: 0.4;
    background-color: black;
}

.contact-wrapper .contact-section-title .contact-title {
    font-size: 5rem;
    font-family: var(--Poppins);
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--white);
    position: relative;
    z-index: 1;
    text-transform: uppercase;
}

.form-wrap {
    position: relative;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 4rem 0 5rem 0;
    color: var(--text-black);
}

.form-wrap div {
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;

}

.form-wrap div input {
    height: 4.5rem;
    font-size: 1.5rem;
    font-family: var(--Poppins);
    color: var(--text-black);
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}

.form-wrap div textarea {
    font-size: 1.5rem;
    padding: 1rem;
    color: var(--text-black);
    font-family: var(--Poppins);
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-wrap button {
    font-size: 1.5rem;
    padding: 1rem;
    height: 50px;
    border: none;
    background-color: #FF7B5F;
    color: white;
    font-family: var(--Poppins);
}

.form-wrap button:hover {
    color: var(--white);
    background-color: #d93d00;
}

.form-wrap div .form-label {
    justify-content: flex-start;
    font-size: 1.5rem;
    font-family: var(--Poppins);

}

.form-wrap input {}

@media screen and (max-width: 990px) {
    .form-wrap {
        position: relative;
        width: 100%;
    }
}